DATABASE_PORT=5555
POSTGRES_PASSWORD=password123
POSTGRES_USER=postgres
POSTGRES_DB=fastapi
POSTGRES_HOST=postgres
POSTGRES_HOSTNAME=172.18.0.1
GITCODE_TOKEN=your-cool-token
RUNTIME_CORE_ROOT=/path/to/runtime/core
ETS_FRONTEND_ROOT=/path/to/ets/frontend
DEVAGENT_WORKDIR=/devagent/workdir/path
