DATABASE_PORT=5555
POSTGRES_PASSWORD=password123
POSTGRES_USER=postgres
POSTGRES_DB=fastapi
POSTGRES_HOST=postgres
POSTGRES_HOSTNAME=172.18.0.1
GITCODE_TOKEN=your-token
GITEE_TOKEN=your-token
DEVAGENT_PROVIDER=deepseek
DEVAGENT_MODEL=deepseek-chat
DEVAGENT_API_KEY=your-token